body {
    background: rgba(255,255,0,0.1);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTPt7KpKjM_qt9agiYdwSqA3vZ9Ts-FCxA2GzGlpN-CyfRBLyHA');
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    
}

.container {
    display: block;
    margin: auto;
    width: fit-content;
}

img {
    margin: auto;
    position: relative;
    display: block;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 75px;
    font-family: 'Exo 2', sans-serif;
}

p {
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: 70px;
}